{% extends 'base_error.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<form method="post">
    {# {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
        Vous êtes connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
    {% endif %} #}

	<!-- Section start -->
    <div class="sign-in section panel overflow-hidden bg-secondary dark:bg-gray-900" id="sign-in"> 
        <div class="section-outer panel">
            <div class="section-inner panel">
                <div class="panel overflow-hidden">
                    <div class="panel row child-cols-12 md:child-cols-6 g-0">
                        <div>
                            <div class="panel overflow-hidden min-h-300px h-100 lg:h-screen" data-anime="translateX: [-24, 0]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750;">
                                    <figure class="panel h-100 m-0 rounded">
                                        <canvas class="h-100 w-100"></canvas>
                                        <img alt="Hero login image" class="media-cover image" src="{{ asset('./images/login.webp') }}"/>
                                    </figure>
                                    <div class="position-cover text-white vstack justify-end p-4 lg:p-6 xl:py-8">
                                        <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-50"></div>
                                        <div class="panel z-1">
                                            <div class="vstack gap-3" data-anime="targets: &gt;*; translateY: [-24, 0]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750; delay: anime.stagger(100, {start: 250});">
                                                <p class="fs-5 xl:fs-4 fw-medium">“Cette applicaiton simplifie la gestion des grandes quantité de données, propose un audit et permet de faire des export en plusieurs format... C'est génial !”
                                                </p>
                                                <div class="vstack gap-0">
                                                    <p class="fs-6 lg:fs-5 fw-medium">Amour As-Amama</p>
                                                    <span class="fs-7 opacity-80">CEO &amp; Formateur</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="position-absolute top-0 ltr:start-0 rtl:end-0 text-none m-4 lg:m-6" data-anime="scale: [0.5, 1]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750; delay: anime.stagger(100, {start: 150});" href="{{ path('app_main')}}">
                                        <img alt="" class="w-32px lg:w-40px" src="{{ asset('./images/logo-mark.png') }}"/>
                                    </a>
                                </div>
                        </div>
                        <div>
                            <div class="panel vstack justify-center h-100 overflow-hidden">
                                <div class="d-none lg:d-block" data-anime="onview: -100; targets: img; scale: [0.8, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 350;">
                                    <div class="position-absolute bottom-0 start-0 rotate-45" style="bottom: 15% !important; left: 18% !important">
                                        <img alt="star-1" class="w-32px text-gray-900 dark:text-white" data-uc-svg="" src="{{ asset('./images/star-1.svg') }}"/>
                                    </div>
                                    <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                                        <img alt="star-2" class="w-24px text-gray-900 dark:text-white" data-uc-svg="" src="{{ asset('./images/star-2.svg') }}"/>
                                    </div>
                                    <div class="position-absolute top-0 start-0 translate-middle-y -rotate-12" style="top: 15% !important; left: 10% !important">
                                        <img alt="icon-internet" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-internet.svg') }}"/>
                                        <img alt="icon-internet-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-internet-dark.svg') }}"/>
                                    </div>
                                    <div class="position-absolute top-0 start-0 translate-middle-y ms-n3" style="top: 65% !important; left: 0% !important">
                                        <img alt="icon-globe" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-globe.svg') }}"/>
                                        <img alt="icon-globe-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-globe-dark.svg') }}"/>
                                    </div>
                                    <div class="position-absolute top-0 end-0 translate-middle-y rotate-12" style="top: 80% !important; right: 12% !important">
                                        <img alt="icon-diamond" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-diamond.svg') }}"/>
                                        <img alt="icon-diamond-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-diamond-dark.svg') }}"/>
                                    </div>
                                    <div class="position-absolute top-0 end-0 translate-middle-y -rotate-12 me-n2" style="top: 35% !important">
                                        <img alt="icon-community" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-community.svg') }}"/>
                                        <img alt="icon-community-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-community-dark.svg') }}"/>
                                    </div>
                                </div>
                                <div class="panel py-4 px-2">
                                    <div class="panel vstack gap-3 w-100 sm:w-350px mx-auto text-center" data-anime="targets: &gt;*; translateY: [24, 0]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750; delay: anime.stagger(100);">
                                        <h1 class="h4 sm:h2">Réinitialisation du mot de passe 2/2</h1>
                                        <div class="containerParagraph">
                                            <p>C'est la dernière ligne droite. Vous n'avez plus qu'à saisir votre nouveau mot de passe et à valider. Vous voyez ce n'était pas si dur. 😊
                                            </p>
                                        </div>
                                        <form class="vstack gap-2">
                                        {{form_start(passForm)}}
                                                {{ form_row(passForm.password)}}
                                            {{form_end(passForm)}}
                                        </form>
                                            <p>Pas encore de compte ?
                                                <a class="uc-link" href="{{ path('app_register')}}">S'inscrire</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ====== Forms Section Start -->
    <section class="bg-[#F4F7FF] py-14 lg:py-20 dark:bg-dark">
        <div class="container">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full px-4">
                    <div class="wow fadeInUp relative mx-auto max-w-[525px] overflow-hidden rounded-lg bg-white dark:bg-dark-2 py-14 px-8 text-center sm:px-12 md:px-[60px]"
                        data-wow-delay=".15s">
                        <div class="mb-10 text-center">
                            <a href="{{ path('app_main')}}" class="mx-auto inline-block max-w-[160px]">
                                <img src="{{ asset('images/logo/logo.svg')}}" alt="logo" class="dark:hidden" />
                                <img src="{{ asset('images/logo/logo-white.svg')}}" alt="logo"
                                    class="hidden dark:block" />
                            </a>
                        </div>
                        {{form_start(passForm)}}
                            {{ form_row(passForm.password)}}
                            <div class="mb-9">
                                <input type="submit" value="Valider"
                                    class="w-full px-5 py-3 text-base text-white transition duration-300 ease-in-out border rounded-md cursor-pointer border-primary bg-primary hover:bg-blue-dark" />
                            </div>
                         {{form_end(passForm)}}
                        <a href="{{ path('forgetten_password')}}"
                            class="inline-block mb-2 text-base text-dark dark:text-white hover:text-primary dark:hover:text-primary">
                            Mot de passe oublié ?
                        </a>
                        <p class="text-base text-body-secondary">
                            Vous n'avez pas de compte ?
                            <a href="{{ path('app_register')}}" class="text-primary hover:underline">
                                S'inscrire
                            </a>
                        </p>

                        <div>
                            <span class="absolute top-1 right-1">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="1.39737" cy="38.6026" r="1.39737"
                                        transform="rotate(-90 1.39737 38.6026)" fill="#3056D3" />
                                    <circle cx="1.39737" cy="1.99122" r="1.39737"
                                        transform="rotate(-90 1.39737 1.99122)" fill="#3056D3" />
                                    <circle cx="13.6943" cy="38.6026" r="1.39737"
                                        transform="rotate(-90 13.6943 38.6026)" fill="#3056D3" />
                                    <circle cx="13.6943" cy="1.99122" r="1.39737"
                                        transform="rotate(-90 13.6943 1.99122)" fill="#3056D3" />
                                    <circle cx="25.9911" cy="38.6026" r="1.39737"
                                        transform="rotate(-90 25.9911 38.6026)" fill="#3056D3" />
                                    <circle cx="25.9911" cy="1.99122" r="1.39737"
                                        transform="rotate(-90 25.9911 1.99122)" fill="#3056D3" />
                                    <circle cx="38.288" cy="38.6026" r="1.39737" transform="rotate(-90 38.288 38.6026)"
                                        fill="#3056D3" />
                                    <circle cx="38.288" cy="1.99122" r="1.39737" transform="rotate(-90 38.288 1.99122)"
                                        fill="#3056D3" />
                                    <circle cx="1.39737" cy="26.3057" r="1.39737"
                                        transform="rotate(-90 1.39737 26.3057)" fill="#3056D3" />
                                    <circle cx="13.6943" cy="26.3057" r="1.39737"
                                        transform="rotate(-90 13.6943 26.3057)" fill="#3056D3" />
                                    <circle cx="25.9911" cy="26.3057" r="1.39737"
                                        transform="rotate(-90 25.9911 26.3057)" fill="#3056D3" />
                                    <circle cx="38.288" cy="26.3057" r="1.39737" transform="rotate(-90 38.288 26.3057)"
                                        fill="#3056D3" />
                                    <circle cx="1.39737" cy="14.0086" r="1.39737"
                                        transform="rotate(-90 1.39737 14.0086)" fill="#3056D3" />
                                    <circle cx="13.6943" cy="14.0086" r="1.39737"
                                        transform="rotate(-90 13.6943 14.0086)" fill="#3056D3" />
                                    <circle cx="25.9911" cy="14.0086" r="1.39737"
                                        transform="rotate(-90 25.9911 14.0086)" fill="#3056D3" />
                                    <circle cx="38.288" cy="14.0086" r="1.39737" transform="rotate(-90 38.288 14.0086)"
                                        fill="#3056D3" />
                                </svg>
                            </span>
                            <span class="absolute left-1 bottom-1">
                                <svg width="29" height="40" viewBox="0 0 29 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="2.288" cy="25.9912" r="1.39737" transform="rotate(-90 2.288 25.9912)"
                                        fill="#3056D3" />
                                    <circle cx="14.5849" cy="25.9911" r="1.39737"
                                        transform="rotate(-90 14.5849 25.9911)" fill="#3056D3" />
                                    <circle cx="26.7216" cy="25.9911" r="1.39737"
                                        transform="rotate(-90 26.7216 25.9911)" fill="#3056D3" />
                                    <circle cx="2.288" cy="13.6944" r="1.39737" transform="rotate(-90 2.288 13.6944)"
                                        fill="#3056D3" />
                                    <circle cx="14.5849" cy="13.6943" r="1.39737"
                                        transform="rotate(-90 14.5849 13.6943)" fill="#3056D3" />
                                    <circle cx="26.7216" cy="13.6943" r="1.39737"
                                        transform="rotate(-90 26.7216 13.6943)" fill="#3056D3" />
                                    <circle cx="2.288" cy="38.0087" r="1.39737" transform="rotate(-90 2.288 38.0087)"
                                        fill="#3056D3" />
                                    <circle cx="2.288" cy="1.39739" r="1.39737" transform="rotate(-90 2.288 1.39739)"
                                        fill="#3056D3" />
                                    <circle cx="14.5849" cy="38.0089" r="1.39737"
                                        transform="rotate(-90 14.5849 38.0089)" fill="#3056D3" />
                                    <circle cx="26.7216" cy="38.0089" r="1.39737"
                                        transform="rotate(-90 26.7216 38.0089)" fill="#3056D3" />
                                    <circle cx="14.5849" cy="1.39761" r="1.39737"
                                        transform="rotate(-90 14.5849 1.39761)" fill="#3056D3" />
                                    <circle cx="26.7216" cy="1.39761" r="1.39737"
                                        transform="rotate(-90 26.7216 1.39761)" fill="#3056D3" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Forms Section End -->
</form>
{% endblock %}