{% extends 'base_error.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block body %}
{% include '/_partials/_flash.html.twig' %}
  <!-- ====== Forms Section Start -->

  <!-- ====== Forms Section End -->
	<!-- Section start -->
	<div class="sign-in section panel overflow-hidden bg-secondary dark:bg-gray-900" id="sign-in">
		<div class="section-outer panel">
			<div class="section-inner panel">
				<div class="panel overflow-hidden">
					<div class="panel row child-cols-12 md:child-cols-6 g-0">
						<div>
							<div class="panel overflow-hidden min-h-300px h-100 lg:h-screen" data-anime="translateX: [-24, 0]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750;">
								<figure class="panel h-100 m-0 rounded">
									<canvas class="h-100 w-100"></canvas>
									<img alt="Hero login image" class="media-cover image" src="{{ asset('./images/login-main-1.webp') }}"/>
								</figure>
								<div class="position-cover text-white vstack justify-end p-4 lg:p-6 xl:py-8">
									<div class="position-cover bg-gradient-to-t from-black to-transparent opacity-50"></div>
									<div class="panel z-1">
										<div class="vstack gap-3" data-anime="targets: &gt;*; translateY: [-24, 0]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750; delay: anime.stagger(100, {start: 250});">
											<p class="fs-5 xl:fs-4 fw-medium">“Cette applicaiton simplifie la gestion des grandes quantité de données, propose un audit et permet de faire des export en plusieurs format... C'est génial !”
											</p>
											<div class="vstack gap-0">
												<p class="fs-6 lg:fs-5 fw-medium">Amour As-Amama</p>
												<span class="fs-7 opacity-80">CEO &amp; Formateur</span>
											</div>
										</div>
									</div>
								</div>
								<a class="position-absolute top-0 ltr:start-0 rtl:end-0 text-none m-4 lg:m-6" data-anime="scale: [0.5, 1]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750; delay: anime.stagger(100, {start: 150});" href="{{ path('app_main')}}">
									<img alt="" class="w-32px lg:w-40px" src="{{ asset('./images/logo-mark.png') }}"/>
								</a>
							</div>
						</div>
						<div>
							<div class="panel vstack justify-center h-100 overflow-hidden">
								<div class="d-none lg:d-block" data-anime="onview: -100; targets: img; scale: [0.8, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 350;">
									<div class="position-absolute bottom-0 start-0 rotate-45" style="bottom: 15% !important; left: 18% !important">
										<img alt="star-1" class="w-32px text-gray-900 dark:text-white" data-uc-svg="" src="{{ asset('./images/star-1.svg') }}"/>
									</div>
									<div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
										<img alt="star-2" class="w-24px text-gray-900 dark:text-white" data-uc-svg="" src="{{ asset('./images/star-2.svg') }}"/>
									</div>
									<div class="position-absolute top-0 start-0 translate-middle-y -rotate-12" style="top: 15% !important; left: 10% !important">
										<img alt="icon-internet" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-internet.svg') }}"/>
										<img alt="icon-internet-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-internet-dark.svg') }}"/>
									</div>
									<div class="position-absolute top-0 start-0 translate-middle-y ms-n3" style="top: 65% !important; left: 0% !important">
										<img alt="icon-globe" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-globe.svg') }}"/>
										<img alt="icon-globe-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-globe-dark.svg') }}"/>
									</div>
									<div class="position-absolute top-0 end-0 translate-middle-y rotate-12" style="top: 80% !important; right: 12% !important">
										<img alt="icon-diamond" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-diamond.svg') }}"/>
										<img alt="icon-diamond-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-diamond-dark.svg') }}"/>
									</div>
									<div class="position-absolute top-0 end-0 translate-middle-y -rotate-12 me-n2" style="top: 35% !important">
										<img alt="icon-community" class="w-64px d-block dark:d-none" src="{{ asset('./images/icon-community.svg') }}"/>
										<img alt="icon-community-dark" class="w-64px d-none dark:d-block" src="{{ asset('./images/icon-community-dark.svg') }}"/>
									</div>
								</div>
								<div class="panel py-4 px-2">
									<div class="panel vstack gap-3 w-100 sm:w-350px mx-auto text-center" data-anime="targets: &gt;*; translateY: [24, 0]; opacity: [0, 1]; easing: easeInOutExpo; duration: 750; delay: anime.stagger(100);">
										<h1 class="h4 sm:h2">Inscription</h1>
										<div class="hstack gap-2">
											<a class="hstack items-center justify-center flex-1 gap-1 h-48px text-none rounded bg-dark text-white dark:bg-white dark:text-dark" href="#github">
												<i class="fa-brands fa-github"></i>
											</a>
											<a class="hstack items-center justify-center flex-1 gap-1 h-48px text-none rounded bg-blue-600 text-white" href="#facebook">
												<i class="fa-brands fa-facebook"></i>
											</a>
										</div>
										<div class="panel my-2">
											<hr class="m-0"/>
											<span class="position-absolute top-50 start-50 translate-middle p-1 fs-7 text-uppercase bg-secondary dark:bg-gray-900">Ou</span>
										</div>
											{{ form_errors(registrationForm) }}

											{{ form_start(registrationForm) }}
											{{ form_row(registrationForm.email) }}
											{{ form_row(registrationForm.pseudo) }}
											{{ form_row(registrationForm.plainPassword) }}
											<div class="hstack text-start">
												{{ form_row(registrationForm.agreeTerms) }}
												<label class="agreeTermsLabel">
													J'ai lu et j'accepte les
													<a href="{{ path('app_terms') }}" class="uc-link text-primary">conditions d'utilisation</a>.
												</label>
											</div>
											<button class="btn btn-primary btn-md text-white w-100 my-5" type="">S'inscrire</button>
											{{ form_end(registrationForm) }}

										<p>Vous avez déjà un compte ?
											<a class="uc-link" href="{{path('app_login')}}">Connexion</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
