<<<<<<< HEAD
        <!-- Section start -->
        <div class="hero-header section panel overflow-hidden" id="hero_header">
            <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block"
                data-anime="targets: &gt;*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
                <div class="position-absolute top-0 start-0 rotate-45"
                    style="top: 30% !important; left: 18% !important">
                    <img alt="star-1" class="w-32px text-gray-900 dark:text-white" data-uc-svg=""
                        src="{{ asset('assets/./images/star-1.svg') }}" />
                </div>
                <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                    <img alt="star-2" class="w-24px text-gray-900 dark:text-white" data-uc-svg=""
                        src="{{ asset('assets/./images/star-2.svg') }}" />
                </div>
            </div>
            <div class="section-outer panel pt-9 lg:pt-10 pb-6 sm:pb-8 lg:pb-9">
                <div class="container max-w-xl">
                    <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0"
                        data-anime="targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <div
                            class="vstack items-center gap-2 lg:gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-750px mx-auto text-center">
                            <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Restons en contact.</h1>
                            <p class="fs-6 sm:fs-5 text-dark dark:text-white text-opacity-70">N'hésitez pas à nous contacter
                                en utilisant les options ci-dessous, et notre équipe dévouée (moi-même) répondra à vos demandes dans les plus brefs délais.
                            </p>
                        </div>
                        <div class="panel rounded-3 overflow-hidden bg-secondary dark:bg-gray-800">
                            <div class="panel row child-cols-12 lg:child-cols-6 g-0">
                                <div class="order-1 lg:order-0">
                                    <div class="panel overflow-hidden rounded-3 h-100 min-h-350px">
                                        <figure class="panel h-100 m-0 rounded">
                                            <canvas class="h-100 w-100"></canvas>
                                            <img alt="Hero image" class="media-cover image"
                                                src="{{asset('./images/hero-contact.jpg')}}" />
                                        </figure>
                                        <div class="position-cover text-white vstack justify-end p-4 lg:p-6 xl:p-9">
                                            <div
                                                class="position-cover bg-gradient-to-t from-black to-transparent opacity-50">
                                            </div>
                                            <div class="panel z-1">
                                                <div class="vstack gap-3">
                                                    <p class="fs-5 xl:fs-4 fw-medium">“Cet outil vous permet d'obtenir une visualisation graphique de vos données peu importe ce qu'elles représenent.”</p>
                                                    <div class="vstack gap-0">
                                                        <p class="fs-6 lg:fs-5 fw-medium">Jude Bellingham</p>
                                                        <span class="fs-7 opacity-80">Fondateur &amp; CEO</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-0 lg:order-1">
                                    <form class="vstack gap-2 p-3 sm:p-6 xl:p-8">
                                        <p class="fs-6 text-dark dark:text-white text-opacity-70 mb-2">Vous avez une question
                                            ou un commentaire ? Remplissez le formulaire ci-dessous et nous vous répondrons dès que possible.
                                        </p>
                                        <div class="row child-cols-12 sm:child-cols-6 g-2">
                                            <div>
                                                <input
                                                    class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
                                                    placeholder="Nom Complet" required="" type="text" />
                                            </div>
                                            <div>
                                                <input
                                                    class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
                                                    placeholder="Votre Email" required="" type="email" />
                                            </div>
                                        </div>
                                        <input
                                            class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
                                            placeholder="Sujet" type="text" />
                                        <textarea
                                            class="form-control min-h-150px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
                                            placeholder="Votre message.." required=""></textarea>
                                        <button class="btn btn-primary btn-md text-white mt-2" type="">Laissez un message</button>
                                        <p class="text-center">ou envoyez nous un <a class="uc-link"
                                                href="mailto:contact@datagraph.fr">email</a>.</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section start -->
        <div class="section panel overflow-hidden" id="helpful-links">
            <div class="section-outer panel pb-6 sm:pb-8 lg:pb-9">
                <div class="container max-w-xl">
                    <div class="section-inner panel">
                        <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                            <h2 class="h4 sm:h3 lg:h2 m-0 text-center"
                                data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                Comment nous contacter</h2>
                            <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-3 g-2 xl:g-3 justify-between col-match"
                                data-anime="onview: -100; targets: &gt; *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                <div>
                                    <div
                                        class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
                                        <div class="cstack mb-2">
                                            <img alt="location-icon" class="w-64px lg:w-80px d-block dark:d-none"
                                                src="{{asset('./images/icon-location.svg')}}" />
                                            <img alt="location-icon-dark" class="w-64px lg:w-80px d-none dark:d-block"
                                                src="{{asset('./images/icon-location-dark.svg')}}" />
                                        </div>
                                        <h5 class="h5 m-0">Position</h5>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Paris 17e, France</p>
                                        <a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
                                            <span>Voir sur la carte</span>
                                            <i
                                                class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
                                        <div class="cstack mb-2">
                                            <img alt="chat-icon" class="w-64px lg:w-80px d-block dark:d-none"
                                                src="{{asset('./images/icon-chat.svg')}}" />
                                            <img alt="chat-icon-dark" class="w-64px lg:w-80px d-none dark:d-block"
                                                src="{{asset('./images/icon-chat-dark.svg')}}" />
                                        </div>
                                        <h5 class="h5 m-0">Via chat</h5>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Obtenez une réponse immédiate. (Bientôt)</p>
                                        <a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
                                            <span>Chattons !</span>
                                            <i
                                                class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
                                        <div class="cstack mb-2">
                                            <img alt="internet-icon" class="w-64px lg:w-80px d-block dark:d-none"
                                                src="{{asset('./images/icon-internet.svg')}}" />
                                            <img alt="internet-icon-dark" class="w-64px lg:w-80px d-none dark:d-block"
                                                src="{{asset('./images/icon-internet-dark.svg')}}" />
                                        </div>
                                        <h5 class="h5 m-0">Rapport de problème</h5>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Accédez au support prioritaire.</p>
                                        <a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
                                            <span>Envoyez le rapport</span>
                                            <i
                                                class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- <div>
                                    <div
                                        class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
                                        <div class="cstack mb-2">
                                            <img alt="community-icon" class="w-64px lg:w-80px d-block dark:d-none"
                                                src="./public/assets/images/icon-community.svg" />
                                            <img alt="community-icon-dark" class="w-64px lg:w-80px d-none dark:d-block"
                                                src="./public/assets/images/icon-community-dark.svg" />
                                        </div>
                                        <h5 class="h5 m-0">Our community</h5>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Connect with users.</p>
                                        <a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
                                            <span>Join us now</span>
                                            <i
                                                class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="section panel overflow-hidden" id="faq">
            <div class="section-outer panel pb-7 sm:pb-8 xl:pb-9">
                <div class="container max-w-lg">
                    <div class="section-inner panel"
                        data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <div class="panel">
                            <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Foire aux questions (FAQ):</h2>
                            <div
                                class="panel mt-4 sm:mt-6 lg:mt-8 p-3 sm:p-4 xl:p-6 lg:max-w-750px xl:w-auto m-auto rounded-2 bg-secondary dark:bg-gray-800">
                                <ul class="gap-4" data-uc-accordion="targets: &gt; li;">
                                    <li class="uc-open">
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">DComment fonctionne Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>
                                                Datagraph analyse les données de vos fichiers CSV ou Excel pour générer des graphiques visuels 
                                                et des rapports détaillés en quelques secondes. 
                                                Il suffit de télécharger votre fichier, de choisir vos options, et Datagraph fait le reste.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Quels types de fichiers puis-je utiliser avec Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Vous pouvez utiliser des fichiers CSV et Excel (XLS et XLSX). Assurez-vous que vos fichiers sont correctement structurés pour garantir une analyse optimale.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Datagraph est-il adapté à tous les domaines ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Oui ! Datagraph est conçu pour être polyvalent. Que vous soyez dans le marketing, la finance, la gestion de projets ou tout autre secteur, l’outil s’adapte à vos besoins et vos objectifs.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Puis-je personnaliser les graphiques et rapports ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Absolument. Vous pouvez choisir parmi différents types de graphiques, personnaliser les couleurs, et définir des objectifs spécifiques pour orienter les recommandations.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Mes données sont-elles sécurisées avec Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Oui. Datagraph respecte la confidentialité de vos données et ne les conserve pas après leur traitement. Toutes vos informations restent privées et sécurisées.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="clients-brands section panel overflow-hidden" id="clients_brands">
            <div class="section-outer panel pt-6 pb-8 sm:pt-8 sm:pb-9 xl:py-9">
                <h5 class="h6 sm:h5 text-center mb-4 sm:mb-6 xl:mb-8"
                    data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 200;">
                    Avec la confiance de grandes enseignes.</h5>
                <div class="block-panel panel"
                    data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                    <div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
                        <div class="swiper" data-uc-swiper="items: 2; center: true; center-bounds: true;"
                            data-uc-swiper-m="items: 5; gap: 80;"
                            data-uc-swiper-s="items: 4; center: false; center-bounds: false;">
                            <div class="swiper-wrapper items-center ease-linear">
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Proline" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('./images/brand-01.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Iceberg" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('./images/brand-02.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="PinPoint" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('./images/brand-03.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Clues" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('./images/brand-04.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Snowflake" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('./images/brand-05.svg')}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
=======
<!-- Section start -->
<div class="hero-header section panel overflow-hidden" id="hero_header">
	<div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block" data-anime="targets: &gt;*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
		<div class="position-absolute top-0 start-0 rotate-45" style="top: 30% !important; left: 18% !important">
			<img alt="star-1" class="w-32px text-gray-900 dark:text-white" data-uc-svg="" src="{{ asset('./images/star-1.svg') }}"/>
		</div>
		<div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
			<img alt="star-2" class="w-24px text-gray-900 dark:text-white" data-uc-svg="" src="{{ asset('./images/star-2.svg') }}"/>
		</div>
	</div>
	<div class="section-outer panel pt-9 lg:pt-10 pb-6 sm:pb-8 lg:pb-9">
		<div class="container max-w-xl">
			<div class="section-inner panel mt-2 sm:mt-4 lg:mt-0" data-anime="targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
				<div class="vstack items-center gap-2 lg:gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-750px mx-auto text-center">
					<h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Restons en contact.</h1>
					<p class="fs-6 sm:fs-5 text-dark dark:text-white text-opacity-70">N'hésitez pas à nous contacter
						                                en utilisant les options ci-dessous, et notre équipe dévouée (moi-même) répondra à vos demandes dans les plus brefs délais.
					</p>
				</div>
				<div class="panel rounded-3 overflow-hidden bg-secondary dark:bg-gray-800">
					<div class="panel row child-cols-12 lg:child-cols-6 g-0">
						<div class="order-1 lg:order-0">
							<div class="panel overflow-hidden rounded-3 h-100 min-h-350px">
								<figure class="panel h-100 m-0 rounded">
									<canvas class="h-100 w-100"></canvas>
									<img alt="Hero image" class="media-cover image" src="{{asset('./images/hero-contact.jpg')}}"/>
								</figure>
								<div class="position-cover text-white vstack justify-end p-4 lg:p-6 xl:p-9">
									<div class="position-cover bg-gradient-to-t from-black to-transparent opacity-50"></div>
									<div class="panel z-1">
										<div class="vstack gap-3">
											<p class="fs-5 xl:fs-4 fw-medium">“Cet outil vous permet d'obtenir une visualisation graphique de vos données peu importe ce qu'elles représenent.”</p>
											<div class="vstack gap-0">
												<p class="fs-6 lg:fs-5 fw-medium">Jude Bellingham</p>
												<span class="fs-7 opacity-80">Fondateur &amp; CEO</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="order-0 lg:order-1">
							<div class="vstack gap-2 p-3 sm:p-6 xl:p-8">
								<p class="fs-6 text-dark dark:text-white text-opacity-70 mb-2">Vous avez une question
									                                            ou un commentaire ? Remplissez le formulaire ci-dessous et nous vous répondrons dès que possible.
								</p>
								<div class="classicFormContainer row">
									{{form_start(contactForm)}}
									<div class="flex-space-between">
										<div>
											{# <input
											                                                    class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
											                                                    placeholder="Nom Complet" required="" type="text" /> #}
											{{form_row(contactForm.name)}}

										</div>
										<div>
											{# <input
											                                                    class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
											                                                    placeholder="Votre Email" required="" type="email" /> #}
											{{form_row(contactForm.email)}}
										</div>
									</div>

									{# <input
									                                            class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
									                                            placeholder="Sujet" type="text" /> #}
									{{form_row(contactForm.subject)}}
									{# <textarea
									                                            class="form-control min-h-150px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
									                                            placeholder="Votre message.." required=""></textarea> #}
									{{form_row(contactForm.message)}}
									<button class="btn btn-primary btn-md text-white mt-2 mb-2 w-100" type="">Laissez un message</button>
									<p class="text-center">ou envoyez nous un
										<a class="uc-link" href="mailto:contact@datagraph.fr">email</a>.</p>
									{{form_end(contactForm)}}
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Section start -->
<div class="section panel overflow-hidden" id="helpful-links">
	<div class="section-outer panel pb-6 sm:pb-8 lg:pb-9">
		<div class="container max-w-xl">
			<div class="section-inner panel">
				<div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
					<h2 class="h4 sm:h3 lg:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
						Comment nous contacter</h2>
					<div class="row child-cols-12 sm:child-cols-6 lg:child-cols-3 g-2 xl:g-3 justify-between col-match" data-anime="onview: -100; targets: &gt; *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
						<div>
							<div class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
								<div class="cstack mb-2">
									<img alt="location-icon" class="w-64px lg:w-80px d-block dark:d-none" src="{{asset('./images/icon-location.svg')}}"/>
									<img alt="location-icon-dark" class="w-64px lg:w-80px d-none dark:d-block" src="{{asset('./images/icon-location-dark.svg')}}"/>
								</div>
								<h5 class="h5 m-0">Position</h5>
								<p class="fs-6 opacity-70 dark:opacity-80">Paris 17e, France</p>
								<a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
									<span>Voir sur la carte</span>
									<i class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
								</a>
							</div>
						</div>
						<div>
							<div class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
								<div class="cstack mb-2">
									<img alt="chat-icon" class="w-64px lg:w-80px d-block dark:d-none" src="{{asset('./images/icon-chat.svg')}}"/>
									<img alt="chat-icon-dark" class="w-64px lg:w-80px d-none dark:d-block" src="{{asset('./images/icon-chat-dark.svg')}}"/>
								</div>
								<h5 class="h5 m-0">Via chat</h5>
								<p class="fs-6 opacity-70 dark:opacity-80">Obtenez une réponse immédiate. (Bientôt)</p>
								<a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
									<span>Chattons !</span>
									<i class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
								</a>
							</div>
						</div>
						<div>
							<div class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
								<div class="cstack mb-2">
									<img alt="internet-icon" class="w-64px lg:w-80px d-block dark:d-none" src="{{asset('./images/icon-internet.svg')}}"/>
									<img alt="internet-icon-dark" class="w-64px lg:w-80px d-none dark:d-block" src="{{asset('./images/icon-internet-dark.svg')}}"/>
								</div>
								<h5 class="h5 m-0">Rapport de problème</h5>
								<p class="fs-6 opacity-70 dark:opacity-80">Accédez au support prioritaire.</p>
								<a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
									<span>Envoyez le rapport</span>
									<i class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
								</a>
							</div>
						</div>
						<!-- <div>
						                                    <div
						                                        class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-800 lg:hover:-translate-y-2 duration-150 transition-all">
						                                        <div class="cstack mb-2">
						                                            <img alt="community-icon" class="w-64px lg:w-80px d-block dark:d-none"
						                                                src="./public/assets/images/icon-community.svg" />
						                                            <img alt="community-icon-dark" class="w-64px lg:w-80px d-none dark:d-block"
						                                                src="./public/assets/images/icon-community-dark.svg" />
						                                        </div>
						                                        <h5 class="h5 m-0">Our community</h5>
						                                        <p class="fs-6 opacity-70 dark:opacity-80">Connect with users.</p>
						                                        <a class="uc-link fw-bold hstack gap-narrow justify-center" href="#">
						                                            <span>Join us now</span>
						                                            <i
						                                                class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
						                                        </a>
						                                    </div>
						                                </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Section end -->
<!-- Section start -->
<div class="section panel overflow-hidden" id="faq">
	<div class="section-outer panel pb-7 sm:pb-8 xl:pb-9">
		<div class="container max-w-lg">
			<div class="section-inner panel" data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
				<div class="panel">
					<h2 class="h4 sm:h3 lg:h2 m-0 text-center">Foire aux questions (FAQ):</h2>
					<div class="panel mt-4 sm:mt-6 lg:mt-8 p-3 sm:p-4 xl:p-6 lg:max-w-750px xl:w-auto m-auto rounded-2 bg-secondary dark:bg-gray-800">
						<ul class="gap-4" data-uc-accordion="targets: &gt; li;">
							<li class="uc-open">
								<a class="uc-accordion-title fs-5 sm:fs-4" href="#">DComment fonctionne Datagraph ?</a>
								<div class="uc-accordion-content">
									<p>
										Datagraph analyse les données de vos fichiers CSV ou Excel pour générer des graphiques visuels 
										                                                et des rapports détaillés en quelques secondes. 
										                                                Il suffit de télécharger votre fichier, de choisir vos options, et Datagraph fait le reste.
									</p>
								</div>
							</li>
							<li>
								<a class="uc-accordion-title fs-5 sm:fs-4" href="#">Quels types de fichiers puis-je utiliser avec Datagraph ?</a>
								<div class="uc-accordion-content">
									<p>Vous pouvez utiliser des fichiers CSV et Excel (XLS et XLSX). Assurez-vous que vos fichiers sont correctement structurés pour garantir une analyse optimale.</p>
								</div>
							</li>
							<li>
								<a class="uc-accordion-title fs-5 sm:fs-4" href="#">Datagraph est-il adapté à tous les domaines ?</a>
								<div class="uc-accordion-content">
									<p>Oui ! Datagraph est conçu pour être polyvalent. Que vous soyez dans le marketing, la finance, la gestion de projets ou tout autre secteur, l’outil s’adapte à vos besoins et vos objectifs.</p>
								</div>
							</li>
							<li>
								<a class="uc-accordion-title fs-5 sm:fs-4" href="#">Puis-je personnaliser les graphiques et rapports ?</a>
								<div class="uc-accordion-content">
									<p>Absolument. Vous pouvez choisir parmi différents types de graphiques, personnaliser les couleurs, et définir des objectifs spécifiques pour orienter les recommandations.</p>
								</div>
							</li>
							<li>
								<a class="uc-accordion-title fs-5 sm:fs-4" href="#">Mes données sont-elles sécurisées avec Datagraph ?</a>
								<div class="uc-accordion-content">
									<p>Oui. Datagraph respecte la confidentialité de vos données et ne les conserve pas après leur traitement. Toutes vos informations restent privées et sécurisées.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Section end -->
<!-- Section start -->
<div class="clients-brands section panel overflow-hidden" id="clients_brands">
	<div class="section-outer panel pt-6 pb-8 sm:pt-8 sm:pb-9 xl:py-9">
		<h5 class="h6 sm:h5 text-center mb-4 sm:mb-6 xl:mb-8" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 200;">
			Avec la confiance de grandes enseignes.</h5>
		<div class="block-panel panel" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
			<div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
				<div class="swiper" data-uc-swiper="items: 2; center: true; center-bounds: true;" data-uc-swiper-m="items: 5; gap: 80;" data-uc-swiper-s="items: 4; center: false; center-bounds: false;">
					<div class="swiper-wrapper items-center ease-linear">
						<div class="brand-item swiper-slide text-center">
							<img alt="Proline" class="brand-item-image h-40px" data-uc-svg="" src="{{asset('./images/brand-01.svg')}}"/>
						</div>
						<div class="brand-item swiper-slide text-center">
							<img alt="Iceberg" class="brand-item-image h-40px" data-uc-svg="" src="{{asset('./images/brand-02.svg')}}"/>
						</div>
						<div class="brand-item swiper-slide text-center">
							<img alt="PinPoint" class="brand-item-image h-40px" data-uc-svg="" src="{{asset('./images/brand-03.svg')}}"/>
						</div>
						<div class="brand-item swiper-slide text-center">
							<img alt="Clues" class="brand-item-image h-40px" data-uc-svg="" src="{{asset('./images/brand-04.svg')}}"/>
						</div>
						<div class="brand-item swiper-slide text-center">
							<img alt="Snowflake" class="brand-item-image h-40px" data-uc-svg="" src="{{asset('./images/brand-05.svg')}}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Section end -->
>>>>>>> 40255b9fe3f74c7d34ecbb0feb36a7c53cf76f61
