        <!-- Section start -->
        <div class="hero-header section panel overflow-hidden" id="hero_header">
            <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block"
                data-anime="targets: &gt;*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
                <div class="position-absolute top-0 start-0 rotate-45"
                    style="top: 30% !important; left: 18% !important">
                    <img alt="star-1" class="w-32px text-gray-900 dark:text-white" data-uc-svg=""
                        src="{{ asset('assets/./images/star-1.svg') }}" />
                </div>
                <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                    <img alt="star-2" class="w-24px text-gray-900 dark:text-white" data-uc-svg=""
                        src="{{ asset('assets/./images/star-2.svg') }}" />
                </div>
            </div>
            <div class="section-outer panel pt-9 lg:pt-10 pb-6 xl:pb-9">
                <div class="container max-w-lg">
                    <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0">
                        <div class="panel vstack items-center gap-3 lg:gap-4 mb-6 sm:mb-8 lg:mb-9 max-w-650px mx-auto text-center"
                            data-anime="targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Ce qui vous distingue des autres.</h1>
                            <p class="fs-6 sm:fs-5 text-dark dark:text-white text-opacity-70">Notre objectif est de vous aider à
                                rendre vos données plus lisible conformément à vos objectifs finaux.
                            </p>
                        </div>
                        <div class="sticky-scene panel vstack gap-4 sm:gap-6 xl:gap-8">
                            <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-800"
                                data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                    <div class="order-0 lg:order-1">
                                        <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                            <img alt="Analyse automatisée des données en quelques secondes"
                                                src="{{asset('assets/./images/feature-01-perso.png')}}" />
                                        </div>
                                    </div>
                                    <div class="order-1 lg:order-0 col-12 sm:col-5">
                                        <div class="panel vstack justify-center gap-4 h-100">
                                            <div>
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold m-0 text-primary">01.</span>
                                                    <h3 class="h4 lg:h2 m-0">🔍 Analyse automatisée des données en quelques secondes.</h3>
                                                    <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                        Notre outil traite vos fichiers instantanément, 
                                                        identifie les statistiques clés et met en lumière les tendances principales
                                                        pour vous faire gagner un temps précieux.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-800"
                                data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                    <div class="order-0 lg:order-1">
                                        <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                            <img alt="Rapports stylisés et partageables"
                                                src="{{asset('assets/./images/feature-02-perso.png')}}" />
                                        </div>
                                    </div>
                                    <div class="order-1 lg:order-0 col-12 sm:col-5">
                                        <div class="panel vstack justify-center gap-4 h-100">
                                            <div>
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold m-0 text-primary">02.</span>
                                                    <h3 class="h4 lg:h2 m-0">🎨 Rapports stylisés et partageables.</h3>
                                                    <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                        Créez des rapports clairs et esthétiques, prêts à être exportés en PDF ou partagés avec vos collaborateurs. 
                                                        Apportez une touche professionnelle avec des formats personnalisés et des éléments visuels professionnels et impactants.
                                                    </p>
                                                    <!-- <a class="uc-link fw-bold hstack gap-narrow" href="#">
                                                        <span>See all integrations</span>
                                                        <i
                                                            class="position-relative icon icon-1 unicon-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                    </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-800"
                                data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                    <div class="order-0 lg:order-1">
                                        <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                            <img alt="Adaptabilité aux fichiers CSV et Excel."
                                                src="{{asset('assets/./images/feature-03-perso.png')}}" />
                                        </div>
                                    </div>
                                    <div class="order-1 lg:order-0 col-12 sm:col-5">
                                        <div class="panel vstack justify-center gap-4 h-100">
                                            <div>
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold m-0 text-primary">03.</span>
                                                    <h3 class="h4 lg:h2 m-0">📂 Adaptabilité aux fichiers CSV et Excel.</h3>
                                                    <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                        Que vos données soient simples ou complexes, 
                                                        notre outil accepte toutes les structures de fichiers CSV et Excel. 
                                                        Une solution conçue pour s’adapter à votre réalité métier.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-800"
                                data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                <div class="row child-cols col-match justify-between g-4 lg:g-8 xl:g-10">
                                    <div class="order-0 lg:order-1">
                                        <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                            <img alt="⚙️ Options personnalisées pour différents objectifs." 
                                            src="{{asset('assets/./images/feature-04-perso.png')}}"/>
                                        </div>
                                    </div>
                                    <div class="order-1 lg:order-0 col-12 sm:col-5">
                                        <div class="panel vstack justify-center gap-4 h-100">
                                            <div>
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold m-0 text-primary">04.</span>
                                                    <h3 class="h4 lg:h2 m-0">⚙️ Options personnalisées pour différents objectifs.</h3>
                                                    <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                        Sélectionnez un objectif d’analyse : optimiser vos ventes, suivre vos performances ou anticiper les tendances. 
                                                        Notre IA ajuste ses recommandations pour répondre à vos attentes spécifiques.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="key-features section panel overflow-hidden bg-gray-900 uc-dark" id="key_features">
            <div class="section-outer panel py-6 xl:py-9 dark:bg-gray-800">
                <div class="container sm:max-w-md lg:max-w-lg">
                    <div class="section-inner panel">
                        <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                            <h2 class="title h3 lg:h2 xl:h1 m-0 text-center max-w-550px mx-auto"
                                data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                                Les points clés de notre outil <span class="text-primary">DataGraph.</span></h2>
                            <div class="panel">
                                <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-4 col-match g-3"
                                    data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                    <div>
                                        <div
                                            class="feature-item panel p-4 border rounded-2 hover:bg-white dark:hover:bg-secondary dark:text-white dark:hover:text-gray-900 hover:scale-105 duration-150 transition-all">
                                            <div class="vstack panel min-h-250px">
                                                <!-- <i
                                                    class="position-absolute top-0 ltr:end-0 rtl:start-0 icon-2 unicon-arrow-up-right rtl:-rotate-90"></i> -->
                                                <div class="vstack justify-between gap-2 h-100">
                                                    <!-- <i class="icon icon-4 unicon-document"></i> -->
                                                    <i class="icon icon-4 fa-solid fa-magnifying-glass-chart"></i>
                                                    <div class="panel">
                                                        <div class="vstack gap-1">
                                                            <h3 class="title h5 m-0 text-inherit">Analyse</h3>
                                                            <p class="desc fs-6 opacity-70">Obtenez des rapports visuels percutants en fonction de vos données en quelques secondes..</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="position-cover" href="{{ path('app_feature')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="feature-item panel p-4 border rounded-2 hover:bg-white dark:hover:bg-secondary dark:text-white dark:hover:text-gray-900 hover:scale-105 duration-150 transition-all">
                                            <div class="vstack panel min-h-250px">
                                                <!-- <i
                                                    class="position-absolute top-0 ltr:end-0 rtl:start-0 icon-2 unicon-arrow-up-right rtl:-rotate-90"></i> -->
                                                <div class="vstack justify-between gap-2 h-100">
                                                    <!-- <i class="icon icon-4 unicon-model"></i> -->
                                                    <i class="icon icon-4 fa-solid fa-chart-simple"></i>
                                                    <div class="panel">
                                                        <div class="vstack gap-1">
                                                            <h3 class="title h5 m-0 text-inherit">Visuel</h3>
                                                            <p class="desc fs-6 opacity-70">Des insights clairs et stylisés qui permettent une meilleure visibilité des informations importantes.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="position-cover" href="{{ path('app_feature')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="feature-item panel p-4 border rounded-2 hover:bg-white dark:hover:bg-secondary dark:text-white dark:hover:text-gray-900 hover:scale-105 duration-150 transition-all">
                                            <div class="vstack panel min-h-250px">
                                                <!-- <i
                                                    class="position-absolute top-0 ltr:end-0 rtl:start-0 icon-2 unicon-arrow-up-right rtl:-rotate-90"></i> -->
                                                <div class="vstack justify-between gap-2 h-100">
                                                    <!-- <i class="icon icon-4 unicon-task-approved"></i> -->
                                                    <i class="icon icon-4 fa-solid fa-puzzle-piece"></i>
                                                    <div class="panel">
                                                        <div class="vstack gap-1">
                                                            <h3 class="title h5 m-0 text-inherit">Compatibilité</h3>
                                                            <p class="desc fs-6 opacity-70">Importez vos données facilement, quel que soit la nature de vos fichiers de base.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="position-cover" href="{{ path('app_feature')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="feature-item panel p-4 border rounded-2 hover:bg-white dark:hover:bg-secondary dark:text-white dark:hover:text-gray-900 hover:scale-105 duration-150 transition-all">
                                            <div class="vstack panel min-h-250px">
                                                <!-- <i
                                                    class="position-absolute top-0 ltr:end-0 rtl:start-0 icon-2 unicon-arrow-up-right rtl:-rotate-90"></i> -->
                                                <div class="vstack justify-between gap-2 h-100">
                                                    <!-- <i class="icon icon-4 unicon-touch-interaction"></i> -->
                                                    <i class="icon icon-4 fa-solid fa-bullseye"></i>
                                                    <div class="panel">
                                                        <div class="vstack gap-1">
                                                            <h3 class="title h5 m-0 text-inherit">Objectifs</h3>
                                                            <p class="desc fs-6 opacity-70">Adaptation de votre analyse en fonction de vos besoins spécifiques.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="position-cover" href="{{ path('app_feature')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="feature-item panel p-4 border rounded-2 hover:bg-white dark:hover:bg-secondary dark:text-white dark:hover:text-gray-900 hover:scale-105 duration-150 transition-all">
                                            <div class="vstack panel min-h-250px">
                                                <!-- <i
                                                    class="position-absolute top-0 ltr:end-0 rtl:start-0 icon-2 unicon-arrow-up-right rtl:-rotate-90"></i> -->
                                                <div class="vstack justify-between gap-2 h-100">
                                                    <!-- <i class="icon icon-4 unicon-sub-volume"></i> -->
                                                    <i class="icon icon-4 fa-regular fa-message"></i>
                                                    <div class="panel">
                                                        <div class="vstack gap-1">
                                                            <h3 class="title h5 m-0 text-inherit">Recommandations </h3>
                                                            <p class="desc fs-6 opacity-70">Obtenez des conseils pertinents pour améliorer vos performances.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="position-cover" href="{{ path('app_feature')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="feature-item panel p-4 border rounded-2 hover:bg-white dark:hover:bg-secondary dark:text-white dark:hover:text-gray-900 hover:scale-105 duration-150 transition-all">
                                            <div class="vstack panel min-h-250px">
                                                <!-- <i
                                                    class="position-absolute top-0 ltr:end-0 rtl:start-0 icon-2 unicon-arrow-up-right rtl:-rotate-90"></i> -->
                                                <div class="vstack justify-between gap-2 h-100">
                                                    <!-- <i class="icon icon-4 unicon-currency"></i> -->
                                                    <i class="icon icon-4 fa-solid fa-share-from-square"></i>
                                                    <div class="panel">
                                                        <div class="vstack gap-1">
                                                            <h3 class="title h5 m-0 text-inherit">Partage </h3>
                                                            <p class="desc fs-6 opacity-70">Exportez et partagez vos rapports instantanément.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="position-cover" href="{{ path('app_feature')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="section panel overflow-hidden" id="faq">
            <div class="section-outer panel pb-7 sm:pb-8">
                <div class="container max-w-lg">
                    <div class="section-inner panel"
                        data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <div class="panel">
                            <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Foire aux questions (FAQ):</h2>
                            <div
                                class="panel mt-4 sm:mt-6 lg:mt-8 p-3 sm:p-4 xl:p-6 lg:max-w-750px xl:w-auto m-auto rounded-2 bg-secondary dark:bg-gray-800">
                                <ul class="gap-4" data-uc-accordion="targets: &gt; li;">
                                    <li class="uc-open">
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Comment fonctionne Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>
                                                Datagraph analyse les données de vos fichiers CSV ou Excel pour générer des graphiques visuels 
                                                et des rapports détaillés en quelques secondes. 
                                                Il suffit de télécharger votre fichier, de choisir vos options, et Datagraph fait le reste.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Quels types de fichiers puis-je utiliser avec Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>
                                                Vous pouvez utiliser des fichiers CSV et Excel (XLS et XLSX). Assurez-vous que vos fichiers sont correctement structurés pour garantir une analyse optimale.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Datagraph est-il adapté à tous les domaines ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Oui ! Datagraph est conçu pour être polyvalent. Que vous soyez dans le marketing, la finance, la gestion de projets ou tout autre secteur, l’outil s’adapte à vos besoins et vos objectifs.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Puis-je personnaliser les graphiques et rapports ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Absolument. Vous pouvez choisir parmi différents types de graphiques, personnaliser les couleurs, et définir des objectifs spécifiques pour orienter les recommandations.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Mes données sont-elles sécurisées avec Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Oui. Datagraph respecte la confidentialité de vos données et ne les conserve pas après leur traitement. Toutes vos informations restent privées et sécurisées.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="clients-feedback section panel overflow-hidden" id="clients_feedback">
            <div class="section-outer panel">
                <div class="container max-w-lg">
                    <div class="section-inner panel swiper-parent"
                        data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Quelques avis clients</h2>
                        <div class="panel p-3 lg:p-6 bg-secondary dark:bg-gray-800 rounded-3 mt-4 sm:mt-6">
                            <div class="row child-cols-12 sm:child-cols-6 col-match g-3 lg:g-8">
                                <div>
                                    <div class="panel rounded-2 overflow-hidden">
                                        <div class="swiper connect-image"
                                            data-uc-swiper="items: 1; autoplay: 5000; dots: .swiper-pagination; effect: fade; fade: true; allowTouchMove: false; disableOnInteraction: true;">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <figure
                                                        class="featured-image m-0 rounded ratio ratio-3x4 uc-transition-toggle overflow-hidden">
                                                        <img alt="Mark Zellers"
                                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                                            src="{{ asset('assets/./images/01.jpg')}}" />
                                                    </figure>
                                                </div>
                                                <div class="swiper-slide">
                                                    <figure
                                                        class="featured-image m-0 rounded ratio ratio-3x4 uc-transition-toggle overflow-hidden">
                                                        <img alt="André Garcia"
                                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                                            src="{{ asset('assets/./images/02.jpg')}}" />
                                                    </figure>
                                                </div>
                                                <div class="swiper-slide">
                                                    <figure
                                                        class="featured-image m-0 rounded ratio ratio-3x4 uc-transition-toggle overflow-hidden">
                                                        <img alt="Matt Henderson"
                                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                                            src="{{ asset('assets/./images/03.jpg')}}" />
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="panel">
                                        <div class="swiper h-100"
                                            data-uc-swiper="connect: .connect-image; items: 1; autoplay: 5000; dots: .swiper-pagination; effect: fade; fade: true;">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide h-100">
                                                    <div
                                                        class="panel vstack justify-between items-center gap-2 lg:gap-4 h-100 text-center">
                                                        <div class="panel">
                                                            <i class="icon icon-4 unicon-quotes text-primary"></i>
                                                            <p
                                                                class="fs-6 sm:fs-5 lg:fs-4 fw-bold mt-1 sm:mt-4 dark:text-white">

                                                                “Datagraph m’a fait gagner un temps précieux ! En quelques clics, 
                                                                j’obtiens des graphiques clairs et des rapports adaptés à mes présentations. 
                                                                C’est l’outil indispensable pour toute analyse rapide et visuelle.”

                                                            </p>
                                                        </div>
                                                        <div class="panel pt-3">
                                                            <div class="panel vstack items-center gap-narrow">
                                                                <h6 class="h5 m-0">Julian Retegui</h6>
                                                                <span class="fs-6 opacity-70">Responsable Marketing</span>
                                                            </div>
                                                            <div class="panel mt-6">
                                                                <div
                                                                    class="swiper-pagination text-primary m-0 justify-center">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide h-100">
                                                    <div
                                                        class="panel vstack justify-between items-center gap-2 lg:gap-4 h-100 text-center">
                                                        <div class="panel">
                                                            <i class="icon icon-4 unicon-quotes text-primary"></i>
                                                            <p
                                                                class="fs-6 sm:fs-5 lg:fs-4 fw-bold mt-1 sm:mt-4 dark:text-white">

                                                                “Un outil simple et puissant ! 
                                                                J’apprécie particulièrement la rapidité avec laquelle je peux convertir mes fichiers Excel en rapports exploitables. 
                                                                Datagraph a définitivement simplifié mes tâches d’analyse au quotidien.”

                                                            </p>
                                                        </div>
                                                        <div class="panel pt-3">
                                                            <div class="panel vstack items-center gap-narrow">
                                                                <h6 class="h5 m-0">André Gomez</h6>
                                                                <span class="fs-6 opacity-70">Chef de projet</span>
                                                            </div>
                                                            <div class="panel mt-6">
                                                                <div
                                                                    class="swiper-pagination text-primary m-0 justify-center">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide h-100">
                                                    <div
                                                        class="panel vstack justify-between items-center gap-2 lg:gap-4 h-100 text-center">
                                                        <div class="panel">
                                                            <i class="icon icon-4 unicon-quotes text-primary"></i>
                                                            <p
                                                                class="fs-6 sm:fs-5 lg:fs-4 fw-bold mt-1 sm:mt-4 dark:text-white">
                                                                “Je recommande Datagraph à tous ceux qui travaillent avec des données ! 
                                                                Les options de personnalisation permettent de répondre à n’importe quel besoin, 
                                                                et le design des rapports donne une vraie touche professionnelle.”
                                                            </p>
                                                        </div>
                                                        <div class="panel pt-3">
                                                            <div class="panel vstack items-center gap-narrow">
                                                                <h6 class="h5 m-0">Benjamin Bourigeaud</h6>
                                                                <span class="fs-6 opacity-70">Freelance en Data Science</span>
                                                            </div>
                                                            <div class="panel mt-6">
                                                                <div
                                                                    class="swiper-pagination text-primary m-0 justify-center">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="clients-brands section panel overflow-hidden" id="clients_brands">
            <div class="section-outer panel pt-6 pb-8 sm:pt-8 sm:pb-9 xl:py-9">
                <h5 class="h6 sm:h5 text-center mb-4 sm:mb-6 xl:mb-8"
                    data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 200;">
                    Avec la confiance de grandes enseignes.</h5>
                <div class="block-panel panel"
                    data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                    <div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
                        <div class="swiper" data-uc-swiper="items: 2; center: true; center-bounds: true;"
                            data-uc-swiper-m="items: 5; gap: 80;"
                            data-uc-swiper-s="items: 4; center: false; center-bounds: false;">
                            <div class="swiper-wrapper items-center ease-linear">
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Proline" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-01.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Iceberg" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-02.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="PinPoint" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-03.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Clues" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-04.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Snowflake" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-05.svg')}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->