        <!-- Section start -->
        <div class="hero-header section panel overflow-hidden" id="hero_header">
            <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block"
                data-anime="targets: &gt;*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
                <div class="position-absolute top-0 start-0 rotate-45"
                    style="top: 30% !important; left: 18% !important">
                    <img alt="star-1" class="w-32px text-gray-900 dark:text-white" data-uc-svg=""
                        src="{{ asset('assets/./images/star-1.svg')}}" />
                </div>
                <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                    <img alt="star-2" class="w-24px text-gray-900 dark:text-white" data-uc-svg=""
                        src="{{ asset('assets/./images/star-2.svg')}}" />
                </div>
            </div>
            <div class="section-outer panel pt-9 lg:pt-10 pb-6 sm:pb-8 lg:pb-9">
                <div class="container max-w-xl">
                    <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0">
                        <div class="vstack items-center gap-3 lg:gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-750px mx-auto text-center"
                            data-anime="targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Nos tarifs.</h1>
                            <p class="fs-6 xl:fs-5 text-dark dark:text-white text-opacity-70">0 charges supplémentaires. 0 frais cachés.</p>
                            <ul class="uc-switcher-nav nav-x gap-0 p-narrow border rounded-2 fs-7 fw-medium"
                                data-uc-switcher="connect: .pricing-switcher;">
                                <li><a class="text-none w-128px cstack p-1" href="#">Mensuel</a></li>
                                <li><a class="text-none w-128px cstack p-1" href="#">Annuel</a></li>
                            </ul>
                        </div>
                        <div class="uc-switcher pricing-switcher mt-4">
                            <div>
                                <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 col-match justify-center g-2 lg:g-4"
                                    data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 400});">
                                    <div>
                                        <div
                                            class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-800">
                                            <div class="panel">
                                                <h3 class="title h5 sm:h4 dark:text-white">Essentials</h3>
                                                <p class="desc dark:text-whiteopacity-70 dark:opacity-80">Pour une simple mise en clarté de vos données</p>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-narrow">
                                                    <h5 class="title h3 sm:h2 m-0 dark:text-white">Gratuit</h5>
                                                    <span class="fs-7 opacity-70">Upload de vos données en illimité</span>
                                                    <div class="vstack gap-1 justify-center text-center mt-3">
                                                        <a class="btn btn-md sm:btn-sm lg:btn-md btn-primary text-white"
                                                            href="sign-up.php">Essayer gratuitement</a>
                                                        <span class="fs-7 opacity-70 min-h-24px">Aucune carte de crédit nécessaire</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold dark:text-white">Fonctionnalités clés:</span>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Upload de données en illimité (CSV, XLSX)</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Choix entre plusieurs types de graphique</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Sélection des colonnes pour croiser les données et renforcer l'analyse.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-800">
                                            <span
                                                class="position-absolute top-0 ltr:end-0 rtl:start-0 m-1 d-inline-flex py-narrow px-1 bg-primary rounded-1 text-white fs-7 fw-medium">Populaire</span>
                                            <div class="panel">
                                                <h3 class="title h5 sm:h4 dark:text-white">Business</h3>
                                                <p class="desc dark:text-whiteopacity-70 dark:opacity-80">Pour une personnalisation et une analyse de vos données.</p>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-narrow">
                                                    <h5 class="title h3 sm:h2 m-0 dark:text-white">5€ EUR</h5>
                                                    <span class="fs-7 opacity-70">Montant mensuel</span>
                                                    <div class="vstack gap-1 justify-center text-center mt-3">
                                                        <a class="btn btn-md sm:btn-sm lg:btn-md btn-primary text-white"
                                                            href="sign-up.php">Essayer</a>
                                                        <!-- <span class="fs-7 opacity-70 min-h-24px">No credit card required</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold dark:text-white">Pour aller plus loin:</span>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Fonctions du plan Essentials</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Sélection et personnalisation du graphique</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Analyse des données uploadés</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Rapport de l'analyse des données par Intelligence Artificielle</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Téléchargement du graphique (PDF, PNG)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="position-absolute bottom-0 ltr:end-0 rtl:start-0 m-2 d-none md:d-block">
                                                <img alt="money" class="w-100px lg:w-128px d-block dark:d-none"
                                                    src="'{{ asset('assets/./images/money.svg')}}'" />
                                                <img alt="money-dark" class="w-100px lg:w-128px d-none dark:d-block"
                                                    src="'{{ asset('assets/./images/money-dark.svg')}}'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 col-match justify-center g-2 lg:g-4"
                                    data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 400});">
                                    <div>
                                        <div
                                            class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-800">
                                            <div class="panel">
                                                <h3 class="title h5 sm:h4 dark:text-white">Essentials</h3>
                                                <p class="desc dark:text-whiteopacity-70 dark:opacity-80">Pour une simple mise en clarté de vos données</p>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-narrow">
                                                    <h5 class="title h3 sm:h2 m-0 dark:text-white">Gratuit</h5>
                                                    <span class="fs-7 opacity-70">Upload de vos données en illimité</span>
                                                    <div class="vstack gap-1 justify-center text-center mt-3">
                                                        <a class="btn btn-md sm:btn-sm lg:btn-md btn-primary text-white"
                                                            href="sign-up.php">Essayer gratuitement</a>
                                                        <span class="fs-7 opacity-70 min-h-24px">Aucune carte de crédit nécessaire</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold dark:text-white">Fonctionnalités clés:</span>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Upload de données en illimité (CSV, XLSX)</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Sélection des colonnes pour croiser les données et renforcer l'analyse.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-800">
                                            <span
                                                class="position-absolute top-0 ltr:end-0 rtl:start-0 m-2 d-inline-flex py-narrow px-1 bg-primary rounded-1 text-white fs-7 fw-medium">Populaire</span>
                                            <div class="panel">
                                                <h3 class="title h5 sm:h4 dark:text-white">Business</h3>
                                                <p class="desc dark:text-whiteopacity-70 dark:opacity-80">Pour une personnalisation et une analyse de vos données.</p>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-narrow">
                                                    <h5 class="title h3 sm:h2 m-0 dark:text-white">29€ EUR</h5>
                                                    <span class="fs-7 opacity-70">Montant annuel</span>
                                                    <div class="vstack gap-1 justify-center text-center mt-3">
                                                        <a class="btn btn-md sm:btn-sm lg:btn-md btn-primary text-white"
                                                            href="{{ path('app_register')}}">Essayer</a>
                                                        <!-- <span class="fs-7 opacity-70 min-h-24px">No credit card required</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack gap-2">
                                                    <span class="fs-6 fw-bold dark:text-white">Pour aller plus loin:</span>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Fonctions du plan Essentials</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Sélection et personnalisation du graphique</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Analyse des données uploadés</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Rapport de l'analyse des données par Intelligence Artificielle</span>
                                                    </div>
                                                    <div class="hstack gap-1 fs-7">
                                                        <i
                                                            class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                        <span>Téléchargement du graphique (PDF, PNG)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="position-absolute bottom-0 ltr:end-0 rtl:start-0 m-2 d-none md:d-block">
                                                <img alt="money" class="w-100px lg:w-128px d-block dark:d-none"
                                                    src="{{asset('assets/./images/money.svg')}}" />
                                                <img alt="money-dark" class="w-100px lg:w-128px d-none dark:d-block"
                                                    src="{{asset('assets/./images/money-dark.svg')}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <p class="text-center text-gray-900 dark:text-white text-opacity-70 mt-4 sm:mt-6 xl:mt-8"
                            data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 0;">
                            Prices exclude any applicable taxes.</p> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="section panel overflow-hidden" id="faq">
            <div class="section-outer panel pb-7 sm:pb-8">
                <div class="container max-w-lg">
                    <div class="section-inner panel"
                        data-anime="onview: -100; targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                        <div class="panel">
                            <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Foire aux questions (FAQ):</h2>
                            <div
                                class="panel mt-4 sm:mt-6 lg:mt-8 p-3 sm:p-4 xl:p-6 lg:max-w-750px xl:w-auto m-auto rounded-2 bg-secondary dark:bg-gray-800">
                                <ul class="gap-4" data-uc-accordion="targets: &gt; li;">
                                    <li class="uc-open">
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Comment fonctionne Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>
                                                Datagraph analyse les données de vos fichiers CSV ou Excel pour générer des graphiques visuels 
                                                et des rapports détaillés en quelques secondes. 
                                                Il suffit de télécharger votre fichier, de choisir vos options, et Datagraph fait le reste.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Quels types de fichiers puis-je utiliser avec Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>
                                                Vous pouvez utiliser des fichiers CSV et Excel (XLS et XLSX). Assurez-vous que vos fichiers sont correctement structurés pour garantir une analyse optimale.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Datagraph est-il adapté à tous les domaines ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Oui ! Datagraph est conçu pour être polyvalent. Que vous soyez dans le marketing, la finance, la gestion de projets ou tout autre secteur, l’outil s’adapte à vos besoins et vos objectifs.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Puis-je personnaliser les graphiques et rapports ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Absolument. Vous pouvez choisir parmi différents types de graphiques, personnaliser les couleurs, et définir des objectifs spécifiques pour orienter les recommandations.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Mes données sont-elles sécurisées avec Datagraph ?</a>
                                        <div class="uc-accordion-content">
                                            <p>Oui. Datagraph respecte la confidentialité de vos données et ne les conserve pas après leur traitement. Toutes vos informations restent privées et sécurisées.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="clients-feedbacks section panel overflow-hidden" id="clients_feedbacks">
            <div class="section-outer panel pb-6 xl:pb-9">
                <div class="container max-w-lg">
                    <div class="section-inner panel">
                        <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8"
                            data-anime="onview: -100; targets: &gt; *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Quelques avis clients</h2>
                            <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 justify-center col-match g-2 lg:g-3"
                                data-uc-grid="">
                                <div>
                                    <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                        <div class="panel vstack items-start gap-2">
                                            <div class="panel">
                                                <div class="hstack h-48px">
                                                    <img alt="Brand" class="w-128px text-gray-900 dark:text-white"
                                                        data-uc-svg="" src="{{asset('assets/./images/brand-07.svg')}}" />
                                                </div>
                                            </div>
                                            <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“
                                                Datagraph m’a fait gagner un temps précieux ! En quelques clics, 
                                                j’obtiens des graphiques clairs et des rapports adaptés à mes présentations. 
                                                C’est l’outil indispensable pour toute analyse rapide et visuelle.”</p>
                                        </div>
                                        <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                            <img alt="Julien R." class="w-40px rounded-circle" src="{{asset('assets/./images/01.png')}}" />
                                            <div class="panel vstack items-start gap-0">
                                                <h6 class="h6 m-0">Julien R.</h6>
                                                <span class="fs-7 opacity-70">Responsable Marketing.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                        <div class="panel vstack items-start gap-2">
                                            <div class="panel">
                                                <div class="hstack h-48px">
                                                    <img alt="Brand" class="w-128px text-gray-900 dark:text-white"
                                                        data-uc-svg="" src="{{asset('assets/./images/brand-06.svg')}}" />
                                                </div>
                                            </div>
                                            <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“
                                                Un outil simple et puissant ! 
                                                J’apprécie particulièrement la rapidité avec laquelle je peux convertir mes fichiers Excel en rapports exploitables. 
                                                Datagraph a définitivement simplifié mes tâches d’analyse au quotidien.”
                                            </p>
                                        </div>
                                        <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                            <img alt="Marie L." class="w-40px rounded-circle"
                                                src="{{asset('assets/./images/04.png')}}" />
                                            <div class="panel vstack items-start gap-0">
                                                <h6 class="h6 m-0">Marie L.</h6>
                                                <span class="fs-7 opacity-70">Freelance en Data Science</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-3 sm:px-4 py-4 panel vstack justify-between gap-3 rounded-2 border">
                                        <div class="panel vstack items-start gap-2">
                                            <div class="panel">
                                                <div class="hstack h-48px">
                                                    <img alt="Brand" class="w-128px text-gray-900 dark:text-white"
                                                        data-uc-svg="" src="{{asset('assets/./images/brand-08.svg')}}" />
                                                </div>
                                            </div>
                                            <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“
                                                Je recommande Datagraph à tous ceux qui travaillent avec des données ! 
                                                Les options de personnalisation permettent de répondre à n’importe quel besoin, 
                                                et le design des rapports donne une vraie touche professionnelle.”
                                            </p>
                                        </div>
                                        <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                            <img alt="Thérèse M" class="w-40px rounded-circle"
                                                src="{{asset('assets/./images/03.png')}}" />
                                            <div class="panel vstack items-start gap-0">
                                                <h6 class="h6 m-0">Thérèse M</h6>
                                                <span class="fs-7 opacity-70">Chef de Projet</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <a class="uc-link fw-bold d-inline-flex items-center gap-narrow" href="#">
                                <span>Voir tout les avis clients</span>
                                <i class="icon icon-1 unicon-arrow-right rtl:rotate-180"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
        <!-- Section start -->
        <div class="clients-brands section panel overflow-hidden" id="clients_brands">
            <div class="section-outer panel pt-6 pb-8 sm:pt-8 sm:pb-9 xl:py-9">
                <h5 class="h6 sm:h5 text-center mb-4 sm:mb-6 xl:mb-8"
                    data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 200;">
                    Avec la confiance de grandes enseignes.</h5>
                <div class="block-panel panel"
                    data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                    <div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
                        <div class="swiper" data-uc-swiper="items: 2; center: true; center-bounds: true;"
                            data-uc-swiper-m="items: 5; gap: 80;"
                            data-uc-swiper-s="items: 4; center: false; center-bounds: false;">
                            <div class="swiper-wrapper items-center ease-linear">
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Proline" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-01.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Iceberg" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-02.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="PinPoint" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-03.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Clues" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-04.svg')}}" />
                                </div>
                                <div class="brand-item swiper-slide text-center">
                                    <img alt="Snowflake" class="brand-item-image h-40px" data-uc-svg=""
                                        src="{{asset('assets/./images/brand-05.svg')}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->