        <!-- Footer start -->
        <footer class="uc-footer panel overflow-hidden uc-dark" id="uc-footer">
            <div class="footer-outer py-4 lg:py-6 xl:py-9 dark:bg-gray-900 dark:text-white">
                <div class="container max-w-xl">
                    <div class="footer-inner vstack gap-4 lg:gap-6 xl:gap-8">
                        <div class="uc-footer-widgets panel">
                            <div class="row child-cols-6 md:child-cols col-match g-4">
                                <div class="col-12 lg:col-4">
                                    <div class="panel vstack items-start gap-4 ltr:md:pe-8 rtl:md:ps-8">
                                        <div class="vstack gap-2">
                                            <a href="index.html">
                                                <img alt="DataGraph" class="w-32px text-primary"
                                                    src="{{asset('./images/logo-mark.png')}}" />
                                            </a>
                                            <p>
                                                Cet outil vous permet d'obtenir une visualisation graphique de vos données peu importe ce qu'elles représenent.
                                                De cette façon, vous prendrez des décisions stratégies plus rapidement basé sur des données clair et une analyse poussée.
                                            </p>
                                        </div>
                                        <div class="hstack items-start gap-1">
                                            <a href="#">
                                                <img alt="Google Play Store"
                                                    class="text-gray-900 dark:text-white hover:text-opacity-70 transition-all duration-150"
                                                    data-uc-svg="" src="{{asset('./images/playstore.svg')}}" />
                                            </a>
                                            <a href="#">
                                                <img alt="Apple Store"
                                                    class="text-gray-900 dark:text-white hover:text-opacity-70 transition-all duration-150"
                                                    data-uc-svg="" src="{{asset('./images/appstore.svg')}}" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ul class="nav-y gap-1 fw-medium">
                                        <li><a href="{{path('app_feature')}}">Fonctionnalités</a></li>
                                        <li><a href="{{path('app_pricing')}}">Tarifs</a></li>
                                        <li><a href="{{path('app_about')}}">A propos</a></li>
                                        <li><a href="{{path('app_contact')}}">Contact</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="nav-y gap-1 fw-medium">
                                        <li><a href="{{ path('app_terms')}}">Conditions d'utilisation</a></li>
                                        <li><a href="{{ path('app_privacy_page')}}">Politique de Confidentialité</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div
                            class="uc-footer-bottom panel vstack lg:hstack gap-4 justify-center lg:justify-between pt-4 lg:pt-6 border-top dark:text-white">
                            <div
                                class="vstack sm:hstack justify-center lg:justify-start items-center lg:items-start gap-1 lg:gap-2">
                                <p class="opacity-60">DataGraph © 2024, Tous les droits réservés.</p>
                                <ul class="nav-x gap-2 fw-medium">
                                    <li><a href="{{ path('app_privacy_page')}}">Politique de Confidentialité</a></li>
                                    <li><a href="{{ path('app_terms')}}">Mentions Légales</a></li>
                                    <li><a href="#">Paramètres des cookies</a></li>
                                </ul>
                            </div>
                            <div class="hstack justify-center lg:justify-end gap-2 lg:gap-3">
                                <ul class="nav-x gap-2">
                                    <li>
                                        <a href="#"><i class="icon icon-2 fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon icon-2 fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon icon-2 fa-brands fa-x"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon icon-2 fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon icon-2 fa-brands fa-youtube"></i></a>
                                    </li>
                                </ul>
                                <div class="vr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->